/* Todo: remove unused CSS */

:root {
  --clr-bg: #090821;
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: var(--clr-bg);
}

.main-div {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5em;
}

.top-bar {
  padding: 2%;
  width: 100vw;
  height: 8%;
  top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#quote {
  font-family: "ZCOOL XiaoWei", serif;
  text-shadow: 2px 2px 5px #ffffff9f, -2px -2px 5px #ffffff9f;
  font-size: 26px;
  text-align: center;
  color: #ffebeb;
  width: 70%;
  height: auto;
  top: 35%;
  transition: all 0.5s ease-in-out;
}

#quote:hover {
  color: #b5b3b3;
  text-shadow: 2px 2px 7px #ffffff77, -2px -2px 7px #ffffff77;
}

/* cssfx.dev animations */

.nav-link {
  z-index: 1;
  position: relative;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  margin: 0 0.5em;
  background-color: hsl(236, 32%, 26%);
}

.nav-link::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fc2f70;
  transform-origin: center bottom;
  transform: scaleY(0);
  transition: transform 0.25s ease-in-out;
}

.nav-link:hover {
  cursor: pointer;
}

button:hover::before {
  transform-origin: center top;
  transform: scaleY(1);
}

/* Search box css */

.input-div {
  position: relative;
  text-align: center;
  width: 14em;
  margin: 1rem auto 2em auto;
  overflow: hidden;
}

.input {
  width: 100%;
  color: white;
  font-size: inherit;
  font-family: inherit;
  background-color: hsl(235, 42.9%, 11%);
  /* background-color: var(--clr-bg); */
  padding: 0.35em 0.45em;
  border: 1px solid transparent;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: hsla(0, 0%, 100%, 0.6);
}

.input ~ span {
  position: absolute;
  /* background-color: #3cefff; */
  background-image: linear-gradient(to left, #3cefff, transparent);
  transition: transform 0s ease;
}

span.bottom {
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
}

input:focus ~ span.bottom {
  transform: translateX(100%);
  transition: transform 1.2s ease;
}

/* 
span.bottom,
span.top {
  height: 1px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

span.left,
span.right {
  width: 1px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}

span.bottom {
  height: 2px;
  bottom: 0;
  transform-origin: bottom right;
}

.input:focus ~ span.bottom {
  transform-origin: bottom left;
  transform: scaleX(1);
}

span.right {
  right: 0;
  transform-origin: top right;
}

.input:focus ~ span.right {
  transform-origin: bottom right;
  transform: scaleY(1);
}

span.top {
  top: 0;
  transform-origin: top left;
}

.input:focus ~ span.top {
  transform-origin: top right;
  transform: scaleX(1);
}

span.left {
  left: 0;
  transform-origin: bottom left;
}

.input:focus ~ span.left {
  transform-origin: top left;
  transform: scaleY(1);
}
 */
