* {
  font-family: 'Dancing Script', cursive;
  padding: 0;
  margin: 0;
}

.main-div {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: #3c3c3c;
}

#quote {
  font-size: 32px;
  color: #ffebeb;
  position: absolute;
  width: 70%;
  left: 15%;
  height: auto;
  top: 35%;
  margin: 0 0 0 0;
  transition: all .5s ease-in-out;
}

#quote:hover {
  color: #b5b3b3;
  transform: scale(1.1);
}
